@charset "UTF-8";
/*
input: '10px', output: 10;
input: 10px, output: 10px
 */
/*********************************************************/
/******************** Media Queries **********************/
/*********************************************************/
/***
  Миксин оперирует данными из массива $breakpoints. Для ширины и высоты указываются собственные параметры.
  Массив `height` может безболезненно расширяться, без затрагивания кода самого миксина, просто добавляйте
  свои значения. Массив `width` безболезненно расширяется только для значений, бОльших, чем `desktop`,
  в остальных случаях, можно менять значения, а при добавлении новых ключей - необходимо заглянуть в исходник.

  Миксин принимает 3 основных аргумента:
    1. $breakpoint - передаваемый параметр, должен равняться одному из значений, указанных в массиве $breakpoints.

    2. $statement - передаваемый параметр, который может быть трех видов для медиа-запросов `width`:
      - down: применяется по умолчанию, и устанавливает правило `@media (max-width: ЗНАЧЕНИЕ)`. Следует понимать,
        что берется не текущее значение брекпоинта, а последующее минус 1.
        Например, брекпоинт `mobile` имеет значение 480px, но при этом правило будет создано со значением
         следующего ключа - `tabletSmall: 768 - 1`. То есть получим => `@media (max-width: 767px)`.

        *! для последнего значения в массиве (`desktop`) миксин примет вид `@media (min-width: ЗНАЧЕНИЕ)`. !*

      - up: в случае, если необходимо задать правило от какого-то значения. То есть, всё, что выше значения.
        Например, `(tablet, up)` => `@media (min-width: 1260px)`.

      - only: устанавливает ограничение в +1 один шаг от текущего значения ключа. Например:
        (tabletSmall, only) => `@media (min-width: 768px) and (max-width: 1023px)`.

         *! При `mobile, only` установлено поведение: => `@media (max-width: 767px)`. !*
         *! При `tablet, only` установлено поведение: => `@media (min-width: 768px) and (max-width: 1259px)`. !*
         *! для последнего значения в массиве (`desktop`) миксин примет вид `@media (min-width: ЗНАЧЕНИЕ)`. !*

     3. $isHeight - передаваемый булевый параметр, который меняет медиа-запросы с ширин на высоты.
        По умолчанию отключен. При данном вызове необходимо передавать вторым аргументом параметр `down`.
        Поведение по умолчанию => `@media (max-height: ЗНАЧЕНИЕ)`

     Примеры вызова:
      - высота:
        @include media(sm, down, true) {
          .card-test-block {
            color: red;
          }
        } => @media (max-height:650px)

      - ширина:
        @include media(mobile) {
            .card-test-block {
              color: white;
            }
          } => @media (max-width: 767px)

        @include media(tabletSmall, up) {
          .card-test-block {
            color: white;
          }
        } => @media (min-width: 1024px)

        @include media(laptop, only) {
          .card-test-block {
            color: black;
          }
        } => @media (min-width: 1260px) and (max-width: 1499px)
***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
header {
  background-color: #ffffff;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html {
  font-family: "Work Sans", "Anton", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #151c22;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none !important;
  transition: all 0.3s ease;
}

li {
  text-decoration: none;
  list-style-type: none;
}

button {
  outline: 0 !important;
  border: none;
  background: none;
  cursor: pointer;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #7e7e7e;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7e7e7e;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7e7e7e;
}

/* Изображения */
img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .container {
    padding: 0 45px;
  }
}
@media (max-width: 481px) {
  .container {
    padding: 0 15px;
  }
}
._ml-1 {
  margin-left: 0.5rem;
}

._mr-1 {
  margin-right: 0.5rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 20px 0;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu {
  position: absolute;
  left: 0;
}
.header__burger {
  display: none;
}
.header-menu__items {
  display: flex;
  font-size: 16px;
  line-height: 19px;
}
.header-menu__item:not(:first-child) {
  margin-left: 35px;
}
.header__logo {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}
.header__btns {
  position: absolute;
  right: 0;
}
.header__btn {
  padding: 4px 0;
}
.header__btn:not(:first-child) {
  margin-left: 35px;
}

@media (max-width: 481px) {
  .header {
    padding: 15px 0;
  }
  .header__btn_img {
    width: 18px;
    height: 16px;
  }
}
.footer-main {
  color: #777777;
  background: #0a0a0a;
}
.footer-main__container {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .footer-main__container {
    padding-top: 70px;
  }
}
.footer-main__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
@media (max-width: 1023px) {
  .footer-main__content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
@media (max-width: 1023px) {
  .footer-main__logo {
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .footer-main__socials {
    justify-content: flex-end;
  }
}
@media (max-width: 1023px) {
  .footer-main__socials {
    justify-content: center;
  }
}
.footer-main__copyright {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 11px;
}
@media (min-width: 1024px) {
  .footer-main__copyright {
    text-align: right;
  }
}
@media (max-width: 1023px) {
  .footer-main__copyright {
    text-align: center;
  }
}
.footer-main__copyright a {
  transition: color 350ms ease;
  color: inherit;
}
.footer-main__copyright a:focus, .footer-main__copyright a:hover {
  color: #fafafa;
}

.btn-black {
  display: block;
  min-width: 200px;
  background-color: #151c22;
  color: #ffffff;
  padding: 24px 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .btn-black {
    min-width: 150px;
  }
}

.footer-nav__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
@supports (gap: 10px) and (display: flex) {
  .footer-nav__list {
    gap: 20px;
  }
}
@supports not ((gap: 10px) and (display: flex)) {
  .footer-nav__list > * + * {
    margin-left: 20px;
  }
}
@media (max-width: 479px) {
  .footer-nav__list {
    grid-template-columns: repeat(2, max-content);
  }
}
.footer-nav__link {
  display: block;
  color: #7e7e7e;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease-out;
}
.footer-nav__link:hover {
  color: #d3d3d3;
}

.home .header__menu {
  top: 93px;
}
.home .header-menu__items {
  flex-direction: column;
}
.home .header-menu__item:not(:first-child) {
  margin-top: 26px;
  margin-left: 0;
}
.home .header__btns {
  top: 89px;
  display: flex;
  flex-direction: column-reverse;
}
.home .header__btn {
  padding: 4px 0;
}
.home .header__btn:first-child {
  margin-top: 22px;
}
.home .header__btn:not(:first-child) {
  margin-left: 0;
}

@media (max-width: 1025px) {
  .home .header__menu {
    top: 88px;
  }
  .home .header-menu__items {
    flex-direction: row;
  }
  .home .header-menu__item:not(:first-child) {
    margin-top: 0;
    margin-left: 35px;
  }
  .home .header__btns {
    top: 78px;
    flex-direction: row;
  }
  .home .header__btn:first-child {
    margin-top: 0;
  }
  .home .header__btn:not(:first-child) {
    margin-left: 35px;
  }
}
@media (max-width: 481px) {
  .home .header__menu {
    top: 68px;
  }
  .home .header-menu__item:not(:first-child) {
    margin-left: 26px;
  }
  .home .header__btns {
    top: 60px;
  }
  .home .header__btn:not(:first-child) {
    margin-left: 23px;
  }
}
.intro {
  background-color: #f1f2f4;
}
.intro__relative {
  position: relative;
}
.intro__container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr;
  column-gap: 10px;
  padding: 50px 0;
  justify-items: center;
  align-items: center;
}
.intro__title {
  color: #727a82;
  font-weight: 400;
  margin-left: 5px;
}
.intro__subtitle {
  font-family: "Anton", "Arial", sans-serif;
  font-size: 128px;
  line-height: 128px;
  margin-top: 5px;
}
.intro__btn {
  margin-top: 40px;
  margin-right: auto;
  margin-left: 5px;
  padding: 24px 24px;
}
.intro__pictures {
  position: relative;
}
.intro__img {
  margin-right: auto;
}
.intro__pictures_bck::before, .intro__pictures_bck::after {
  content: "";
  position: absolute;
  display: block;
  width: 232px;
  height: 176px;
}
.intro__pictures_bck::before {
  top: -50px;
  left: -50px;
  background: url("../assets/images/main/major.jpg") 50px 50px/430px 517px no-repeat, repeating-linear-gradient(45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 14px);
}
.intro__pictures_bck::after {
  bottom: -50px;
  right: -50px;
  background: url("../assets/images/main/major.jpg") -248px -395px/430px 517px no-repeat, repeating-linear-gradient(-45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 14px);
}
.intro__social {
  position: absolute;
  bottom: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}
.intro__social_link:not(:first-child) {
  margin-top: 32px;
}
.intro__arrow {
  position: absolute;
  bottom: 50px;
  left: 0;
}

@media (max-width: 1025px) {
  .intro__container {
    grid-template-columns: 8fr 7fr;
    max-width: 800px;
    padding: 83px 0 120px 0;
    align-items: end;
  }
  .intro__subtitle {
    font-size: 98px;
    line-height: 98px;
  }
  .intro__btn {
    margin-top: 50px;
    margin-bottom: 4px;
  }
  .intro__pictures {
    position: relative;
  }
  .intro__img {
    margin-right: 0;
    width: 264px;
    height: 319px;
  }
  .intro__pictures_bck::before, .intro__pictures_bck::after {
    width: 141px;
    height: 104px;
  }
  .intro__pictures_bck::before {
    top: -30px;
    left: -30px;
    background: url("../assets/images/main/major.jpg") 30px 30px/264px 319px no-repeat, repeating-linear-gradient(45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 7px);
  }
  .intro__pictures_bck::after {
    bottom: -30px;
    right: -30px;
    background: url("../assets/images/main/major.jpg") -153px -249px/264px 319px no-repeat, repeating-linear-gradient(-45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 7px);
  }
  .intro__social {
    bottom: 42px;
    flex-direction: row-reverse;
  }
  .intro__social_link:not(:first-child) {
    margin-top: 0;
  }
  .intro__social_link:first-child {
    margin-left: 35px;
  }
  .intro__arrow {
    bottom: 40px;
  }
}
@media (max-width: 481px) {
  .intro__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 100px 0 48px 0;
  }
  .intro__description {
    align-self: center;
  }
  .intro__title {
    margin-top: 43px;
    margin-left: 0;
  }
  .intro__subtitle {
    font-size: 86px;
    line-height: 86px;
    margin-top: -5px;
  }
  .intro__btn {
    margin-top: 28px;
    padding: 24px 17px;
  }
  .intro__img {
    margin-right: 0;
    width: 202px;
    height: 249px;
  }
  .intro__pictures_bck::before, .intro__pictures_bck::after {
    width: 109px;
    height: 80px;
  }
  .intro__pictures_bck::before {
    top: -20px;
    left: -20px;
    background: url("../assets/images/main/major.jpg") 20px 20px/202px 249px no-repeat, repeating-linear-gradient(45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 6px);
  }
  .intro__pictures_bck::after {
    bottom: -20px;
    right: -20px;
    background: url("../assets/images/main/major.jpg") -113px -193px/202px 249px no-repeat, repeating-linear-gradient(-45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 6px);
  }
  .intro__social {
    display: none;
  }
  .intro__arrow {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
