@charset "UTF-8";
/*
input: '10px', output: 10;
input: 10px, output: 10px
 */
/*********************************************************/
/******************** Media Queries **********************/
/*********************************************************/
/***
  Миксин оперирует данными из массива $breakpoints. Для ширины и высоты указываются собственные параметры.
  Массив `height` может безболезненно расширяться, без затрагивания кода самого миксина, просто добавляйте
  свои значения. Массив `width` безболезненно расширяется только для значений, бОльших, чем `desktop`,
  в остальных случаях, можно менять значения, а при добавлении новых ключей - необходимо заглянуть в исходник.

  Миксин принимает 3 основных аргумента:
    1. $breakpoint - передаваемый параметр, должен равняться одному из значений, указанных в массиве $breakpoints.

    2. $statement - передаваемый параметр, который может быть трех видов для медиа-запросов `width`:
      - down: применяется по умолчанию, и устанавливает правило `@media (max-width: ЗНАЧЕНИЕ)`. Следует понимать,
        что берется не текущее значение брекпоинта, а последующее минус 1.
        Например, брекпоинт `mobile` имеет значение 480px, но при этом правило будет создано со значением
         следующего ключа - `tabletSmall: 768 - 1`. То есть получим => `@media (max-width: 767px)`.

        *! для последнего значения в массиве (`desktop`) миксин примет вид `@media (min-width: ЗНАЧЕНИЕ)`. !*

      - up: в случае, если необходимо задать правило от какого-то значения. То есть, всё, что выше значения.
        Например, `(tablet, up)` => `@media (min-width: 1260px)`.

      - only: устанавливает ограничение в +1 один шаг от текущего значения ключа. Например:
        (tabletSmall, only) => `@media (min-width: 768px) and (max-width: 1023px)`.

         *! При `mobile, only` установлено поведение: => `@media (max-width: 767px)`. !*
         *! При `tablet, only` установлено поведение: => `@media (min-width: 768px) and (max-width: 1259px)`. !*
         *! для последнего значения в массиве (`desktop`) миксин примет вид `@media (min-width: ЗНАЧЕНИЕ)`. !*

     3. $isHeight - передаваемый булевый параметр, который меняет медиа-запросы с ширин на высоты.
        По умолчанию отключен. При данном вызове необходимо передавать вторым аргументом параметр `down`.
        Поведение по умолчанию => `@media (max-height: ЗНАЧЕНИЕ)`

     Примеры вызова:
      - высота:
        @include media(sm, down, true) {
          .card-test-block {
            color: red;
          }
        } => @media (max-height:650px)

      - ширина:
        @include media(mobile) {
            .card-test-block {
              color: white;
            }
          } => @media (max-width: 767px)

        @include media(tabletSmall, up) {
          .card-test-block {
            color: white;
          }
        } => @media (min-width: 1024px)

        @include media(laptop, only) {
          .card-test-block {
            color: black;
          }
        } => @media (min-width: 1260px) and (max-width: 1499px)
***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
header {
  background-color: #ffffff;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html {
  font-family: "Work Sans", "Anton", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #151c22;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none !important;
  transition: all 0.3s ease;
}

li {
  text-decoration: none;
  list-style-type: none;
}

button {
  outline: 0 !important;
  border: none;
  background: none;
  cursor: pointer;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #7e7e7e;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7e7e7e;
}
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7e7e7e;
}

/* Изображения */
img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .container {
    padding: 0 45px;
  }
}
@media (max-width: 481px) {
  .container {
    padding: 0 15px;
  }
}
._ml-1 {
  margin-left: 0.5rem;
}

._mr-1 {
  margin-right: 0.5rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 20px 0;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu {
  position: absolute;
  left: 0;
}
.header__burger {
  display: none;
}
.header-menu__items {
  display: flex;
  font-size: 16px;
  line-height: 19px;
}
.header-menu__item:not(:first-child) {
  margin-left: 35px;
}
.header__btns {
  position: absolute;
  right: 0;
}
.header__btn {
  padding: 4px 0;
}
.header__btn:not(:first-child) {
  margin-left: 25px;
}

@media (max-width: 600px) {
  .header {
    padding: 15px 0;
  }
  .header__container {
    align-items: center;
  }
  .header__menu {
    left: 0;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 20px;
    height: 12px;
    margin-top: 2px;
    transition: all 0.3s ease;
  }
  .header__burger span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #151c22;
  }
  .header__burger span::before,
.header__burger span::after {
    position: absolute;
    right: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #151c22;
    content: "";
  }
  .header__burger span::before {
    top: 0;
  }
  .header__burger span::after {
    bottom: 0;
  }
  .header .active {
    transition: all 0.3s ease;
  }
  .header .active .header__burger {
    width: 20px;
    height: 20px;
  }
  .header .active .header__burger span {
    transform: rotate(45deg);
  }
  .header .active .header__burger span::before {
    display: none;
  }
  .header .active .header__burger span::after {
    bottom: 0;
    transform: rotate(-90deg);
  }
  .header .active .header-menu__items {
    position: absolute;
    top: 25px;
    left: 0;
    display: flex;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    background-color: #ffffff;
  }
  .header .active .header-menu__item:not(:first-child) {
    margin-top: 15px;
    margin-left: 0;
  }
  .header-menu__items {
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .header__btns {
    bottom: 0;
  }
  .header__btn {
    padding: 0 0;
  }
  .header__btn_img {
    width: 18px;
    height: 16px;
  }
  .header__btn:not(:first-child) {
    margin-left: 20px;
  }
}
.footer {
  margin-top: 125px;
  background: #151c22;
  color: #ffffff;
}
.footer__container {
  padding: 45px 0;
  text-align: center;
}
.footer .footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin-top: 24px;
}
.footer .footer-menu__items {
  display: flex;
  gap: 35px;
}
.footer__social {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 33px;
}

@media (max-width: 1025px) {
  .footer .footer-menu {
    margin-top: 29px;
  }
  .footer__social {
    margin-top: 35px;
  }
}
@media (max-width: 481px) {
  .footer {
    margin-top: 106px;
  }
  .footer__container {
    padding: 45px 0;
    text-align: start;
  }
  .footer .footer-menu {
    justify-content: flex-start;
    gap: 0;
    margin-top: -24px;
  }
  .footer .footer-menu__items {
    flex-direction: column;
    gap: 22px;
    flex: 1 1 50%;
  }
  .footer .footer-menu__items:first-child {
    padding-top: 44px;
  }
  .footer .footer-menu__items:last-child {
    padding-left: 15px;
  }
  .footer__social {
    gap: 38px;
    margin-top: 37px;
    justify-content: flex-start;
  }
}
.title {
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
}

.view {
  padding: 2px 6px;
  border-bottom: 2px solid #151c22;
}

.light-title {
  color: #727a82;
  font-weight: 400;
}

@media (max-width: 1025px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 481px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}
.card__link {
  display: block;
}
.card img {
  width: 100%;
  height: 100%;
  max-height: 270px;
  object-fit: cover;
  object-position: center;
}
.card__title {
  margin-top: 23px;
}
.card__price {
  margin-top: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 481px) {
  .card__title {
    margin-top: 0;
    font-size: 16px;
    line-height: 19px;
  }
  .card__price {
    margin-top: 2px;
    font-size: 14px;
    line-height: 16px;
  }
}
.btn-black {
  display: block;
  color: #ffffff;
  padding: 24px 20px;
  background-color: #151c22;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.logo {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
}

.sort__card .card__link {
  display: block;
}
.sort__card .card__title {
  margin-top: 23px;
}
.sort__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sort__card:nth-child(odd) img {
  max-height: 349px;
}

.sort__card:nth-child(even) img {
  max-height: 290px;
}

@media (max-width: 1025px) {
  .sort__card:nth-child(3) {
    order: 4;
    margin-top: -28px;
  }

  .sort__card:nth-child(4) {
    order: 3;
  }
}
@media (max-width: 481px) {
  .sort__card .card__title {
    margin-top: 0;
    font-size: 16px;
    line-height: 19px;
  }
}
.filter__window {
  position: relative;
  width: 245px;
  border: 2px solid #151c22;
}

.filter__accord {
  position: absolute;
  top: 48px;
  right: -2px;
  left: -2px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.filter__btn,
.accord__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px;
  transition: all 0.3s ease;
}

.accord__section {
  border-bottom: 2px solid #f1f2f4;
}

.accord__header {
  font-size: 16px;
  line-height: 18px;
}

.accord__body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.active .accord__body {
  max-height: 250px;
  padding: 10px 14px 24px 14px;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease;
}
.active .accord__btn img {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.filter__price {
  position: relative;
  width: 100%;
  margin-top: -6px;
}

.filter__slider {
  position: relative;
  width: 100%;
  height: 17px;
}
.filter__slider input[type=range] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
}
.filter__slider input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  -webkit-appearance: none;
}
.filter__slider input[type=range]::-moz-range-track {
  height: 2px;
  -moz-appearance: none;
}
.filter__slider input[type=range]::-ms-track {
  height: 2px;
  appearance: none;
}
.filter__slider input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -6px;
  background-color: #151c22;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-appearance: none;
}
.filter__slider input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #151c22;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-appearance: none;
}
.filter__slider input[type=range]::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #151c22;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  appearance: none;
}
.filter__slider_track {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.filter__values {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.filter__value {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.filter__color {
  position: relative;
  margin-left: 7px;
  padding-bottom: 4px;
}

.color__items_radio {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

input[type=radio] {
  width: 16px;
  height: 16px;
}

.color__item.active {
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 6px #151c22;
}

.color__items {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  cursor: pointer;
}

.color__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.color__item:nth-child(1) {
  background-color: #b0c3c7;
}

.color__item:nth-child(2) {
  background-color: #3b6392;
}

.color__item:nth-child(3) {
  background-color: #bfc3c8;
}

.color__item:nth-child(4) {
  background-color: #2d2e2e;
}

.color__item:nth-child(5) {
  background-color: #ececec;
}

.color__item:nth-child(6) {
  background-color: #4193da;
}

.color__item:hover,
.color__item:active {
  box-shadow: 0 0 0 5px #ffffff, 0 0 0 6px #151c22;
}

.filter__collections {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -2px;
  color: #727a82;
}
.filter__collections p:hover,
.filter__collections p:active {
  color: #151c22;
  cursor: pointer;
}

.filter__collection.active {
  color: #151c22;
}

.filter__apply {
  width: 100%;
  margin-top: 32px;
  padding: 24px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background-color: #151c22;
}

.filter__btn_clear {
  width: 100%;
  padding: 24px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.visible .filter__btn img {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.visible .filter__accord {
  max-height: 800px;
  background-color: #ffffff;
  border: 2px solid #151c22;
  transition: all 0.3s ease;
}

@media (max-width: 1025px) {
  .filter__window {
    width: 207px;
  }

  .filter__color,
.color__items {
    padding-right: 50px;
  }

  .filter__collections {
    gap: 20px;
    justify-content: flex-start;
    padding-right: 20px;
  }
}
@media (max-width: 481px) {
  .filter__window {
    width: 100%;
  }

  .visible .filter__accord {
    position: static;
    border: none;
    border-top: 2px solid #151c22;
  }
  .visible .filter__btn {
    width: 63%;
    margin-left: auto;
  }
  .visible .filter__btn_clear {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 60px;
    padding: 0;
    text-align: start;
  }
}
.home .header__burger {
  display: none;
}
.home .header__menu {
  top: 93px;
}
.home .header-menu__items {
  display: flex;
  flex-direction: column;
}
.home .header-menu__item:not(:first-child) {
  margin-top: 26px;
  margin-left: 0;
}
.home .header__btns {
  top: 89px;
  display: flex;
  flex-direction: column-reverse;
}
.home .header__btn {
  padding: 4px 0;
}
.home .header__btn:first-child {
  margin-top: 22px;
}
.home .header__btn:not(:first-child) {
  margin-left: 0;
}

@media (max-width: 1025px) {
  .home .header__menu {
    top: 88px;
  }
  .home .header-menu__items {
    flex-direction: row;
  }
  .home .header-menu__item:not(:first-child) {
    margin-top: 0;
    margin-left: 35px;
  }
  .home .header__btns {
    top: 78px;
    flex-direction: row;
  }
  .home .header__btn:first-child {
    margin-top: 0;
  }
  .home .header__btn:not(:first-child) {
    margin-left: 35px;
  }
}
@media (max-width: 481px) {
  .home .header__menu {
    top: 68px;
  }
  .home .header-menu__item:not(:first-child) {
    margin-left: 26px;
  }
  .home .header__btns {
    top: 60px;
  }
  .home .header__btn:not(:first-child) {
    margin-left: 23px;
  }
}
.home .intro {
  background-color: #f1f2f4;
}
.home .intro__relative {
  position: relative;
}
.home .intro__container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  align-items: center;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  column-gap: 10px;
}
.home .intro__title {
  margin-left: 5px;
}
.home .intro__subtitle {
  margin-top: 5px;
  font-size: 128px;
  font-family: "Anton", "Arial", sans-serif;
  line-height: 128px;
}
.home .intro__btn {
  margin-top: 40px;
  margin-right: auto;
  margin-left: 5px;
  padding: 24px 24px;
}
.home .intro__pictures {
  position: relative;
  width: 430px;
  height: 517px;
}
.home .intro__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: inherit;
}
.home .intro__pictures_bck::before, .home .intro__pictures_bck::after {
  position: absolute;
  display: block;
  width: 232px;
  height: 176px;
  content: "";
}
.home .intro__pictures_bck::before {
  top: -50px;
  left: -50px;
  background: repeating-linear-gradient(45deg, #151c22 0, #f1f2f4 2px, #f1f2f4 14px);
}
.home .intro__pictures_bck::after {
  right: -50px;
  bottom: -50px;
  background: repeating-linear-gradient(-45deg, #151c22 0, #f1f2f4 2px, #f1f2f4 14px);
}
.home .intro__social {
  position: absolute;
  right: 0;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}
.home .intro__social_link:not(:first-child) {
  margin-top: 32px;
}
.home .intro__arrow {
  position: absolute;
  bottom: 50px;
  left: 0;
}
@media (max-width: 1025px) {
  .home .intro__container {
    grid-template-columns: 8fr 7fr;
    align-items: end;
    max-width: 800px;
    padding: 83px 0 124px 0;
  }
  .home .intro__subtitle {
    font-size: 98px;
    line-height: 98px;
  }
  .home .intro__btn {
    margin-top: 50px;
  }
  .home .intro__pictures {
    position: relative;
    width: 264px;
    height: 319px;
  }
  .home .intro__pictures_bck::before, .home .intro__pictures_bck::after {
    width: 141px;
    height: 104px;
  }
  .home .intro__pictures_bck::before {
    top: -30px;
    left: -30px;
    background: repeating-linear-gradient(45deg, #151c22 0, #f1f2f4 2px, #f1f2f4 7px);
  }
  .home .intro__pictures_bck::after {
    right: -30px;
    bottom: -30px;
    background: repeating-linear-gradient(-45deg, #151c22 0, #f1f2f4 2px, #f1f2f4 7px);
  }
  .home .intro__social {
    bottom: 42px;
    flex-direction: row-reverse;
  }
  .home .intro__social_link:not(:first-child) {
    margin-top: 0;
  }
  .home .intro__social_link:first-child {
    margin-left: 35px;
  }
  .home .intro__arrow {
    bottom: 40px;
  }
}
@media (max-width: 481px) {
  .home .intro__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 100px 0 48px 0;
  }
  .home .intro__description {
    align-self: center;
  }
  .home .intro__title {
    margin-top: 43px;
    margin-left: 0;
  }
  .home .intro__subtitle {
    margin-top: -3px;
    font-size: 86px;
    line-height: 86px;
  }
  .home .intro__btn {
    margin-top: 32px;
    padding: 24px 17px;
  }
  .home .intro__pictures {
    width: 202px;
    height: 249px;
  }
  .home .intro__pictures_bck::before, .home .intro__pictures_bck::after {
    width: 109px;
    height: 80px;
  }
  .home .intro__pictures_bck::before {
    top: -20px;
    left: -20px;
    background: repeating-linear-gradient(45deg, #151c22 0, #f1f2f4 2px, #f1f2f4 6px);
  }
  .home .intro__pictures_bck::after {
    right: -20px;
    bottom: -20px;
    background: repeating-linear-gradient(-45deg, #151c22 0, #f1f2f4 2px, #f1f2f4 6px);
  }
  .home .intro__social {
    display: none;
  }
  .home .intro__arrow {
    display: none;
  }
}

.best,
.category {
  margin-top: 120px;
}
.best__top,
.category__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best__card,
.category__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  column-gap: 30px;
}

.best .card img {
  max-height: 349px;
}

.category {
  margin-top: 110px;
}

@media (max-width: 1025px) {
  .best,
.category {
    margin-top: 95px;
  }
  .best__card,
.category__card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 44px;
    margin-top: 53px;
  }
}
@media (max-width: 481px) {
  .best,
.category {
    position: relative;
    margin-top: 52px;
  }
  .best__view,
.category__view {
    position: absolute;
    bottom: -57px;
    left: 40%;
    font-size: 16px;
    line-height: 19px;
  }
  .best__card,
.category__card {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 28px;
    margin-top: 33px;
  }
}
.fall {
  margin-top: 127px;
}
.fall__container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.fall__img {
  height: 100%;
  object-fit: cover;
}
.fall__background {
  padding-top: 31px;
  padding-right: 70px;
  background: repeating-linear-gradient(-45deg, #151c22 0, #ffffff 3px, #ffffff 26px);
}
.fall__description {
  display: flex;
  align-items: center;
  height: 90%;
  background-color: #f1f2f4;
}
.fall__content {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 68px;
  border: 1px solid transparent;
}
.fall__subtitle {
  margin-top: 7px;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.fall__btn {
  margin-top: 41px;
  margin-right: auto;
}

@media (max-width: 1025px) {
  .fall {
    margin-top: 94px;
  }
  .fall__container {
    grid-template-columns: 11fr 10fr;
    height: 287px;
  }
  .fall__background {
    padding-top: 19px;
    padding-right: 20px;
    background: repeating-linear-gradient(-45deg, #151c22 0, #ffffff 3px, #ffffff 18px);
  }
  .fall__description {
    height: 92%;
  }
  .fall__content {
    margin-left: 16%;
  }
  .fall__subtitle {
    margin-top: 3px;
  }
  .fall__btn {
    margin-top: 34px;
    padding: 20px 35px;
  }
}
@media (max-width: 481px) {
  .fall {
    position: relative;
    height: 452px;
    margin-top: 117px;
  }
  .fall__container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .fall__picture {
    order: 2;
    height: 226px;
  }
  .fall__img {
    width: 100%;
  }
  .fall__background {
    order: 1;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .fall__description {
    justify-content: center;
  }
  .fall__content {
    align-items: center;
    margin-top: 36px;
    margin-bottom: 38px;
    margin-left: 5px;
  }
  .fall__title {
    text-align: center;
  }
  .fall__subtitle {
    margin-top: 1px;
    font-size: 26px;
    line-height: 30px;
  }
  .fall__btn {
    margin-top: 24px;
    margin-left: auto;
  }
}
.catalog .intro {
  background-color: #f1f2f4;
}
.catalog .intro__container {
  display: grid;
  grid-template-columns: 10fr 9fr;
  align-items: center;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
  column-gap: 10px;
}
.catalog .intro__description {
  margin-left: 12px;
}
.catalog .intro__way {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.catalog .intro__way:not(:last-child) {
  color: #727a82;
}
.catalog .intro__link_active {
  color: #151c22;
}
.catalog .intro__title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.catalog .intro__pictures {
  position: relative;
  width: 299px;
  height: 260px;
  margin-right: auto;
}
.catalog .intro__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: inherit;
}
.catalog .intro__pictures_bck::before, .catalog .intro__pictures_bck::after {
  position: absolute;
  display: block;
  background: repeating-linear-gradient(45deg, #151c22 0, transparent 2px, transparent 14px);
  content: "";
}
.catalog .intro__pictures_bck::before {
  bottom: 0;
  left: -30px;
  width: 178px;
  height: 135px;
}
.catalog .intro__pictures_bck::after {
  top: 0;
  right: -30px;
  width: 232px;
  height: 176px;
}
@media (max-width: 1025px) {
  .catalog .intro__container {
    grid-template-columns: 11fr 10fr;
    justify-items: flex-start;
    max-width: 800px;
  }
  .catalog .intro__description {
    margin-left: 0;
  }
  .catalog .intro__way {
    flex-wrap: wrap;
  }
  .catalog .intro__pictures {
    height: 260px;
    margin-right: 0;
  }
  .catalog .intro__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  .catalog .intro__container {
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 800px;
  }
  .catalog .intro__description {
    margin-left: 0;
  }
  .catalog .intro__way {
    flex-wrap: wrap;
  }
  .catalog .intro__pictures {
    height: 260px;
    margin-right: 0;
  }
  .catalog .intro__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 481px) {
  .catalog .intro {
    background-color: #ffffff;
  }
  .catalog .intro__container {
    display: block;
  }
  .catalog .intro__description {
    margin-top: 20px;
  }
  .catalog .intro__way a:first-child {
    display: none;
  }
  .catalog .intro__way span:first-of-type {
    display: none;
  }
  .catalog .intro__title {
    display: none;
  }
  .catalog .intro__pictures {
    display: none;
  }
}

.products__filter {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.products__cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-top: 39px;
  column-gap: 66px;
  row-gap: 56px;
}
.products .card:nth-child(7) {
  grid-row: span 2;
  grid-column: span 2;
}
.products .card:nth-child(7) img {
  max-height: 100%;
}
.products__load {
  margin-top: 55px;
  text-align: center;
}
.products__show {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-bottom: 2px solid #e5e5e5;
}
.products__show span {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #151c22;
}
.products__btn {
  width: 200px;
  margin-top: 41px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1025px) {
  .products__filter {
    margin-top: 23px;
  }
  .products__cards {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-top: 27px;
    column-gap: 30px;
    row-gap: 50px;
  }
  .products .card img {
    height: 279px;
  }
  .products .card:nth-child(1) {
    order: 1;
  }
  .products .card:nth-child(2) {
    order: 2;
  }
  .products .card:nth-child(3) {
    order: 3;
  }
  .products .card:nth-child(4) {
    order: 4;
  }
  .products .card:nth-child(5) {
    order: 6;
  }
  .products .card:nth-child(6) {
    order: 7;
  }
  .products .card:nth-child(8) {
    order: 8;
  }
  .products .card:nth-child(9) {
    order: 9;
  }
  .products .card:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;
    order: 5;
  }
  .products .card:nth-child(7) img {
    height: 670px;
  }
  .products__load {
    margin-top: 45px;
  }
  .products__btn {
    margin-top: 37px;
  }
}
@media (max-width: 481px) {
  .products__cards {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 37px;
    row-gap: 10px;
  }
  .products .card img {
    height: 160px;
  }
  .products .card:nth-child(7) img {
    height: 440px;
  }
  .products__load {
    margin-top: 13px;
    font-size: 16px;
    line-height: 18px;
  }
  .products__btn {
    margin-top: 32px;
    width: 177px;
  }
}
.product__intro {
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 50px;
  padding-left: 98px;
}
.product__container {
  display: flex;
  gap: 50px;
}
.product__gallery {
  flex: 1 1 45%;
}
.product__description {
  flex: 1 1 55%;
  padding-top: 65px;
  padding-bottom: 70px;
  padding-left: 70px;
  background: #f1f2f4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.product__title {
  margin: 0;
}
.product__subtitle {
  max-width: 370px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
}
.product__name {
  margin-top: 40px;
}
.product__color {
  position: relative;
  margin-top: 25px;
  margin-left: 7px;
}
.product .color__items_radio {
  gap: 29px;
}
.product .color__items {
  gap: 29px;
}
.product__sizes {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.product__size {
  color: #727a82;
}
.product__size:hover, .product__size:active {
  color: #151c22;
  cursor: pointer;
}
.product .product__size.active {
  color: #151c22;
}
.product__price {
  margin-top: 33px;
  font-weight: 700;
}
.product__button {
  width: 200px;
  margin-top: 45px;
  margin-right: auto;
}

.product .best .card img {
  height: 349px;
}
@media (max-width: 481px) {
  .product .best .card img {
    height: 160px;
  }
}

/*# sourceMappingURL=styles.css.map */
