.catalog {
  .intro {
    background-color: #f1f2f4;

    &__container {
      display: grid;
      grid-template-columns: 10fr 9fr;
      align-items: center;
      justify-items: center;
      max-width: 1000px;
      margin: 0 auto;
      column-gap: 10px;
    }

    &__description {
      margin-left: 12px;
    }

    &__way {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }

    &__way:not(:last-child) {
      color: #727a82;
    }

    &__link_active {
      color: #151c22;
    }

    &__title {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }

    &__pictures {
      position: relative;
      width: 299px;
      height: 260px;
      margin-right: auto;
    }

    &__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      height: inherit;
    }

    &__pictures_bck::before,
    &__pictures_bck::after {
      position: absolute;
      display: block;
      background: repeating-linear-gradient(45deg, #151c22 0, transparent 2px, transparent 14px);
      content: "";
    }

    &__pictures_bck::before {
      bottom: 0;
      left: -30px;
      width: 178px;
      height: 135px;
    }

    &__pictures_bck::after {
      top: 0;
      right: -30px;
      width: 232px;
      height: 176px;
    }
  }

  @media (max-width: 1025px) {
    .intro {
      &__container {
        grid-template-columns: 11fr 10fr;
        justify-items: flex-start;
        max-width: 800px;
      }

      &__description {
        margin-left: 0;
      }

      &__way {
        flex-wrap: wrap;
      }

      &__pictures {
        height: 260px;
        margin-right: 0;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 600px) {
    .intro {
      &__container {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 800px;
      }

      &__description {
        margin-left: 0;
      }

      &__way {
        flex-wrap: wrap;
      }

      &__pictures {
        height: 260px;
        margin-right: 0;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 481px) {
    .intro {
      background-color: #ffffff;

      &__container {
        display: block;
      }

      &__description {
        margin-top: 20px;
      }

      &__way {
        a:first-child {
          display: none;
        }

        span:first-of-type {
          display: none;
        }
      }

      &__title {
        display: none;
      }

      &__pictures {
        display: none;
      }
    }
  }
}

.products {
  &__filter {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }

  &__cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-top: 39px;
    column-gap: 66px;
    row-gap: 56px;
  }

  .card:nth-child(7) {
    grid-row: span 2;
    grid-column: span 2;

    img {
      max-height: 100%;
    }
  }

  &__load {
    margin-top: 55px;
    text-align: center;
  }

  &__show {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid #e5e5e5;

    span {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: #151c22;
    }
  }

  &__btn {
    width: 200px;
    margin-top: 41px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1025px) {
  .products {
    &__filter {
      margin-top: 23px;
    }

    &__cards {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(3, 1fr);
      margin-top: 27px;
      column-gap: 30px;
      row-gap: 50px;
    }

    .card {
      img {
        height: 279px;
      }
    }

    .card:nth-child(1) {
      order: 1;
    }

    .card:nth-child(2) {
      order: 2;
    }

    .card:nth-child(3) {
      order: 3;
    }

    .card:nth-child(4) {
      order: 4;
    }

    .card:nth-child(5) {
      order: 6;
    }

    .card:nth-child(6) {
      order: 7;
    }

    .card:nth-child(8) {
      order: 8;
    }

    .card:nth-child(9) {
      order: 9;
    }

    .card:nth-child(7) {
      grid-row: span 2;
      grid-column: span 2;
      order: 5;

      img {
        height: 670px;
      }
    }

    &__load {
      margin-top: 45px;
    }

    &__btn {
      margin-top: 37px;
    }
  }
}

@media (max-width: 481px) {
  .products {
    &__cards {
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(2, 1fr);
      margin-top: 37px;
      row-gap: 10px;
    }

    .card {
      img {
        height: 160px;
      }
    }

    .card:nth-child(7) {
      img {
        height: 440px;
      }
    }

    &__load {
      margin-top: 13px;
      font-size: 16px;
      line-height: 18px;
    }

    &__btn {
      margin-top: 32px;
      width: 177px;
    }
  }
}

