.home {
  .header {
    &__menu {
      top: 93px;
    }

    &-menu__items {
      flex-direction: column;
    }

    &-menu__item:not(:first-child) {
      margin-top: 26px;
      margin-left: 0;
    }

    &__btns {
      top: 89px;
      display: flex;
      flex-direction: column-reverse;
    }

    &__btn {
      padding: 4px 0;
    }

    &__btn:first-child {
      margin-top: 22px;
    }

    &__btn:not(:first-child) {
      margin-left: 0;
    }
  }
}

@media (max-width: 1025px) {
  .home {
    .header {
      &__menu {
        top: 88px;
      }

      &-menu__items {
        flex-direction: row;
      }

      &-menu__item:not(:first-child) {
        margin-top: 0;
        margin-left: 35px;
      }

      &__btns {
        top: 78px;
        flex-direction: row;
      }

      &__btn:first-child {
        margin-top: 0;
      }

      &__btn:not(:first-child) {
        margin-left: 35px;
      }
    }
  }
}

@media (max-width: 481px) {
  .home {
    .header {
      &__menu {
        top: 68px;
      }

      &-menu__item:not(:first-child) {
        margin-left: 26px;
      }

      &__btns {
        top: 60px;
      }

      &__btn:not(:first-child) {
        margin-left: 23px;
      }
    }
  }
}

.intro {
  background-color: #f1f2f4;

  &__relative {
    position: relative;
  }

  &__container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 10px;
    padding: 50px 0;
    justify-items: center;
    align-items: center;
  }

  &__title {
    color: #727a82;
    font-weight: 400;
    margin-left: 5px;
  }

  &__subtitle {
    font-family: "Anton", "Arial", sans-serif;
    font-size: 128px;
    line-height: 128px;
    margin-top: 5px;
  }

  &__btn {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 5px;
    padding: 24px 24px;
  }
  &__pictures {
    position: relative;
  }

  &__img {
    margin-right: auto;
  }

  &__pictures_bck::before, &__pictures_bck::after {
    content: '';
    position: absolute;
    display: block;
    width: 232px;
    height: 176px;
  }

  &__pictures_bck::before {
    top: -50px;
    left: -50px;
    background: url("../assets/images/main/major.jpg") 50px 50px/ 430px 517px no-repeat, repeating-linear-gradient(45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 14px);

  }

  &__pictures_bck::after {
    bottom: -50px;
    right: -50px;
    background: url("../assets/images/main/major.jpg") -248px -395px/ 430px 517px no-repeat,repeating-linear-gradient(-45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 14px);
  }

  &__social {
    position: absolute;
    bottom: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
  }

  &__social_link:not(:first-child) {
    margin-top: 32px;
  }

  &__arrow {
    position: absolute;
    bottom: 50px;
    left: 0;
  }
}

@media (max-width: 1025px) {

  .intro {

    &__container {
      grid-template-columns: 8fr 7fr;
      max-width: 800px;
      padding: 83px 0 120px 0;
      align-items: end;
    }

    &__subtitle {
      font-size: 98px;
      line-height: 98px;
    }

    &__btn {
      margin-top: 50px;
      margin-bottom: 4px;
    }

    &__pictures {
      position: relative;
    }

    &__img {
      margin-right: 0;
      width: 264px;
      height: 319px;
    }

    &__pictures_bck::before, &__pictures_bck::after {
      width: 141px;
      height: 104px;
    }

    &__pictures_bck::before {
      top: -30px;
      left: -30px;
      background: url("../assets/images/main/major.jpg") 30px 30px/ 264px 319px no-repeat, repeating-linear-gradient(45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 7px);
    }

    &__pictures_bck::after {
      bottom: -30px;
      right: -30px;
      background: url("../assets/images/main/major.jpg") -153px -249px/ 264px 319px no-repeat,repeating-linear-gradient(-45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 7px);
    }

    &__social {
      bottom: 42px;
      flex-direction: row-reverse;
    }

    &__social_link:not(:first-child) {
      margin-top: 0;
    }

    &__social_link:first-child {
      margin-left: 35px;
    }

    &__arrow {
      bottom: 40px;
    }
  }
}

@media (max-width: 481px) {
  .intro {

    &__container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 100px 0 48px 0;
    }

    &__description {
      align-self: center;
    }

    &__title {
      margin-top: 43px;
      margin-left: 0;
    }

    &__subtitle {
      font-size: 86px;
      line-height: 86px;
      margin-top: -5px;
    }

    &__btn {
      margin-top: 28px;
      padding: 24px 17px;
    }

    &__img {
      margin-right: 0;
      width: 202px;
      height: 249px;
    }

    &__pictures_bck::before, &__pictures_bck::after {
      width: 109px;
      height: 80px;
    }

    &__pictures_bck::before {
      top: -20px;
      left: -20px;
      background: url("../assets/images/main/major.jpg") 20px 20px/ 202px 249px no-repeat, repeating-linear-gradient(45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 6px);
    }

    &__pictures_bck::after {
      bottom: -20px;
      right: -20px;
      background: url("../assets/images/main/major.jpg") -113px -193px/ 202px 249px no-repeat,repeating-linear-gradient(-45deg, #151C22 0, #F1F2F4 2px, #F1F2F4 6px);
    }

    &__social {
      display: none;
    }

    &__arrow {
      display: none;
    }
  }
}
