
.footer {
  margin-top: 125px;
  background: #151c22;
  color: #ffffff;

  &__container {
    padding: 45px 0;
    text-align: center;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-top: 24px;

    &__items {
      display: flex;
      gap: 35px;
    }
  }

  &__social {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 33px;
  }
}

@media (max-width: 1025px) {
  .footer {
    .footer-menu {
      margin-top: 29px;
    }

    &__social {
      margin-top: 35px;
    }
  }
}

@media (max-width: 481px) {
  .footer {
    margin-top: 106px;
    &__container {
      padding: 45px 0;
      text-align: start;
    }

    .footer-menu {
      justify-content: flex-start;
      gap: 0;
      margin-top: -24px;

      &__items {
        flex-direction: column;
        gap: 22px;
        flex: 1 1 50%;
      }

      &__items:first-child {
        padding-top: 44px;
      }

      &__items:last-child {
        padding-left: 15px;
      }
    }

    &__social {
      gap: 38px;
      margin-top: 37px;
      justify-content: flex-start;
    }
  }
}
