.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 20px 0;

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu {
    position: absolute;
    left: 0;

  }

  &__burger {
    display: none;
  }

  &-menu__items {
    display: flex;
    font-size: 16px;
    line-height: 19px;
  }

  &-menu__item:not(:first-child) {
    margin-left: 35px;
  }

  &__btns {
    position: absolute;
    right: 0;
  }

  &__btn {
    padding: 4px 0;
  }

  &__btn:not(:first-child) {
    margin-left: 35px;
  }
}

@media (max-width: 481px) {
  .header {
    padding: 15px 0;

    &__btn_img {
      width: 18px;
      height: 16px;
    }
  }
}
