<div class='filter__window js-filter'>
  <button class='filter__btn' type='button'>
    <span>Filter by</span>
    <img class='filter__arrow' src='../assets/images/catalog/arrow.png'>
  </button>
  <div class='filter__accord accord js-accord-group'>
    <div class='accord__section js-accord'>
      <div class='accord__header'>
        <button class='accord__btn js-accord__btn'>
          <span>Price</span>
          <img src='../assets/images/catalog/arrow.png'>
        </button>
      </div>
      <div class='accord__body js-accord__content'>
        <div class='filter__price'>
          <div class='filter__slider'>
            <div class='filter__slider_track'></div>
            <input type='range' min='0' max='300' value='40' id='slider-1'>
            <input type='range' min='0' max='300' value='240' id='slider-2'>
          </div>
          <div class='filter__values'>
            <p class='filter__value'>
              <span>$</span>
              <span id='range1'>40</span>
            </p>
            <p class='filter__value'>
              <span>$</span>
              <span id='range2'>240</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='accord__section js-accord'>
      <div class='accord__header'>
        <button class='accord__btn js-accord__btn'>
          <span>Color</span>
          <img src='../assets/images/catalog/arrow.png'>
        </button>
      </div>
      <div class='accord__body js-accord__content'>
        <form class='filter__color color' action='#'>
          <div class='color__items_radio'>
            <input type='radio' name='color' value='1'>
            <input type='radio' name='color' value='2'>
            <input type='radio' name='color' value='3'>
            <input type='radio' name='color' value='4'>
            <input type='radio' name='color' value='5'>
            <input type='radio' name='color' value='6'>
          </div>
          <div class='color__items'>
            <p class='color__item'></p>
            <p class='color__item'></p>
            <p class='color__item'></p>
            <p class='color__item'></p>
            <p class='color__item'></p>
            <p class='color__item'></p>
          </div>
        </form>
      </div>
    </div>
    <div class='accord__section js-accord'>
      <div class='accord__header'>
        <button class='accord__btn js-accord__btn'>
          <span>Collection</span>
          <img src='../assets/images/catalog/arrow.png'>
        </button>
      </div>
      <div class='accord__body js-accord__content'>
        <div class='filter__collection'>
          <p>Casual</p>
          <p>Petite</p>
          <p>Classic</p>
          <p>Soulluxe</p>
        </div>
      </div>
    </div>
    <button class='filter__apply' type='button'>Apply (9 products)</button>
    <button class='filter__btn_clear' type='button'>Clear all</button>
  </div>
</div>
