<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <p class="footer__logo logo">
        <a class="footer__logo_link" href="../app/html/pages/home.hbs">Nîmes</a>
      </p>
      <nav class="footer__menu footer-menu">
        <ul class="footer-menu__items">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Shop</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Delivery</a>
          </li>
        </ul>
        <ul class="footer-menu__items">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Service</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Sitemap</a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="footer__social">
        <a class="footer__social_link" href="https://www.facebook.com/">
          <img class="footer__social_img" src="../assets/images/footer/facebook.png" alt="Facebook">
        </a>
        <a class="footer__social_link" href="https://www.instagram.com/">
          <img class="footer__social_img" src="../assets/images/footer/inst.png" alt="Instagram">
        </a>
        <a class="footer__social_link" href="https://www.pinterest.com/">
          <img class="footer__social_img" src="../assets/images/footer/pinterest.png" alt="Pinterest">
        </a>
        <a class="footer__social_link" href="https://twitter.com/">
          <img class="footer__social_img" src="../assets/images/footer/twitter.png" alt="Twitter">
        </a>
      </div>
    </div>
  </div>
</footer>
