<article class="card">
  <a href="#" class="card__link">
    <img class="card__image" src="../assets/images/{{img}}" alt="product">
    <h3 class="card__title">{{title}}</h3>
    <p class="card__price">&#36; {{price}}</p>
  </a>
</article>
