<article class='card'>
  <a href='#' class='card__link'>
    <div class='card__img'>
      <img src='../assets/images/{{img}}' alt='product'>
    </div>
    <h3 class='card__title'>{{title}}</h3>
    <p class='card__price'>&#36; {{price}}</p>
  </a>
</article>
