.title {
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
}

.view {
  padding: 2px 6px;
  border-bottom: 2px solid #151c22;
}

@media (max-width: 1025px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 1025px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}
